/* src/nodes/NodeAbstraction.css */
.node-container {
    width: 200px;
    height: 200px;
    border: 1.5px solid black;
    font-weight: bold;
    border-radius: 11px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(1, 228, 187, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e0f2e0;
    color: #333;
  }
  
  .node-header {
    color: "red";
    font-size: 1.0em;
    text-align: center;
  }
  
  .node-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-items: center;
    margin-bottom: 7%;
  
  }
  
  .node-label {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
  }
  
  .node-input, .node-select {
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
    border: 1.5px solid  black;
    font-size: 0.9em;
  }
  
  .node-input:focus, .node-select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.25);
  }
  