/* src/nodes/NodeAbstraction.css */
.node-container {
    width: 360px;
    height: 280px;
    border: 5px solid orange;
    font-weight: bold;
    border-radius: 11px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(1, 228, 187, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: #333;
  }
  
  .node-header {
    color: "red";
    font-size: 1.0em;
  }
  
  .node-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-items: center;
    margin-bottom: 7%;
    /* text-align: center; */
    
  
  }
  
  .node-select {
    margin-left: '30px';
  }
  .node-label {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
  }
  
  .node-input, .node-select {
    margin-top: 5px;
    padding: 5px;
    border-radius: 20px;
    border: 1.5px solid  black;
    font-size: 0.9em;
    height: 30px;
  }
  
  .node-input:focus, .node-select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.25);
  }
  